<div class="block-3">
  <div class="full-height-section">
    <div class="text-center content-section-300 light-text-on-dark-background">
      <h2><%= t ".h2" %></h2>
      <div class="full-description">
        <%= t ".description_1" %>
        <br>
        <%= t ".description_2" %>
        <br>
        <%= t ".description_3" %>
      </div>
    </div>
  </div>
</div>
