<ul class="nav" id="side-menu">
  <li>
    <h4 class="dashboard"><%= t ".manage_content" %></h4>
  </li>
  <li>
    <%= link_to t(".blogs"), admin_blogs_path %>
  </li>
  <li>
    <%= link_to t(".users"), admin_users_path %>
  </li>
  <li>
    <%= link_to t(".genders"), admin_genders_path %>
  </li>
</ul>
