$light-gray: #777;
$white: #fff;
$gray: #555;
$gray-dark: #222;
$gray-medium-light: #eaeaea;
$gray: #bbb;
$state-danger-text: #FF0000;
$gray-dark-light: #e8e8e8;
$gray-lighter:  #D0D0D0;
$search: #e2e1e1;
$created_at_mess: #949393;
$mes_rep: #EEEEEE;
$back_mess: #F1F0F0;
$message-sent-border: #BCE8F1;
$message-sent-background: #D9EDF7;
$gray-light: #cdcdcd;
$black: #999;
$e: #eee;
$a-hover: #36414f;
$a-hover-back: #c7c2c2;
$dark-back: #0000fe;
$shadow-1: #ff4d63;
$shadow-2: #4D63FF;
