@import 'bootstrap';
@import 'colors.scss';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
ul.nav.navbar-top-links.navbar-right {
  float: right;
}
.navbar-header {
  float: left;
}
.sidebar ul li {
  height: 30px;
}
ul#side-menu li a {
  padding-left: 20px;
}
.sidebar ul li {
  margin-top: 10px;
}

/*homepage*/
.navbar-header a.navbar-brand{
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.navbar-header a.navbar-brand img {
  width: 32px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.navbar-default.navbar-static-top , .page-footer{
  margin-left: -15px;
  margin-right: -15px;
  height: 70px;
  display: list-item;
}
.block-1 {
  height: 600px;
  background: antiquewhite;
}
.teaser {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 1%;
  color: $white;
  font-weight: bold;
}
.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
.btn.btn-brand {
  border: none;
  background-image: linear-gradient(140deg, $shadow-1 0, $shadow-2 100%);
}
.btn.btn-prominent {
  border-radius: 50px !important;
  font-weight: 500;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.25) !important;
}
.btn-prominent.btn-lg.btn-block.btn-brand {
  width: 20%;
  margin: 0px auto;
}
.btn.btn-brand:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.hover-grow:hover, .hover-grow:focus, .hover-grow:active {
  transform: scale(1.1);
}
.block-1 a, .block-1 h1, .block-1 h4 {
  text-shadow: 0 0 5px #333;
  color: $white !important;
}
.text-shadow-light {
  color: $white;
}
.block-1{
  background-image: url('https://findmateasia.files.wordpress.com/2017/01/cropped-dating-picnic-couple-on-beach-shutterstock_64974040.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  filter: blur(2px);
}
li.nav-item{
  padding-top: 10px;
}
li.nav-item a {
  color: white;
  font-weight: bold;
}
h4.tagline {
  font-weight: 800;
}
.text-shadow-light {
  font-weight: 200;
}

/*block 2*/
.block-2{
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(to right, #efd2d5, #e85361);
  position: relative;
}
.card.shadow-0 {
  width: 100%;
}
.text-block-2 .dark-back {
  color: $white;
  text-shadow: 0 0 12px $dark-back;
  font-size: 250%;
}
.text-center.text-block-2 {
  padding-top: 50px;
}

/*block-3*/
.full-height-section {
  background-image: url('https://findmate.app/img/scene/couple-sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.full-height-section .content-section-300.light-text-on-dark-background {
  color: #000;
}
.full-height-section .content-section-300 {
  max-width: 420px;
  margin: 30px;
  background-color: rgba(255,255,255,0.75);
  padding: 30px;
  border-radius: 10px;
}
.full-height-section .content-section-300 .full-description {
  font-size: 21px;
}

/*dropdown header*/
li.dropdown.open ul.dropdown-menu {
  display: block;
  min-width: 50px;
}
li.dropdown.open ul.dropdown-menu li a{
  color: black !important;
}
ul.nav.navbar-top-links.navbar-right li.dropdown {
  padding-top: 10px;
}
ul.nav.navbar-top-links.navbar-right li.dropdown a{
  color: $white;
  font-weight: bold;
}
ul.nav.navbar-top-links.navbar-right li a:hover{
  color: $a-hover-back;
  background-color: $a-hover;
}

/*side bar*/
.side-bar{
  float: left;
  overflow: scroll;
  height: 550px;
}
.main-content{
  float: right;
}
.search-results .user .user-info{
  text-align: center;
  background-color: $white;
  display: inline-block;
  height: 400px;
  margin-bottom: 23px;
  border-radius: 2px;
  box-shadow: 0 0px 8px rgba(0,0,0,0.3);
}
.search-results .user .user-image {
  background-color: $e;
}
.search-results .user .user-image img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #eee;
}
.search-results .user .user-details .user-username {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.search-results .user .user-details .status-indicator {
  border: 1px solid $white;
  vertical-align: middle;
  display: inline-block;
}
.search-results .user .user-details .user-location {
  font-size: 16px;
  color: $black;
}
form#information_user_search {
  display: inherit;
}
form#information_user_search input, form#information_user_search label, form#information_user_search select, {
  width:20%;
}
form#information_user_search input[type="submit"] {
  margin-left: 340px;
}
.nofitication {
  margin-top: 20px;
  text-align: center;
  border: 1px solid $gray-light;
}

/*sidebar admin*/
.navbar-header {
  display: flex;
}
ul#side-menu {
  display: block;
}

.row.content-1 {
    display: block;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: $message-sent-border;
  border-color: $message-sent-border;
  margin: 5px 20px;
  padding: 10px;
  margin-left: 40%;
  width: 50%;
}
.message-sent p {
  word-wrap: break-word;
}

.message-received {
  background-color: $back_mess;
  border-color: $mes_rep;
  margin: 5px 20px;
  padding: 10px;
  margin-right: 5px;
  width: 50%;
}
.message-received p {
  word-wrap: break-word;
}

/*admin table*/
table#datatable {
  text-align: center;
}
.search-results {
  margin-top: 20px;
}
.image-information {
  width: 300px;
  height: 300px;
}
.information.col-md-9 {
  margin-bottom: 30px;
}
.container.content {
  min-height: 600px;
}

form#new_user div.field:nth-child(5) {
  display: flex;
  padding-bottom: 10px;
}
input#user_remember_me {
  width: 4%;
}
form#new_user div.field:nth-child(5) label {
  padding-top: 3px;
}
form#new_user .actions {
  width: 50%;
  margin: 10px auto;
}
form#new_user .actions input.btn.btn-success {
  width: 100%;
  margin: 10px auto;
}
.log-in {
  width: 50%;
  margin: 10px auto;
}
.log-in {
  width: 50%;
  margin: 10px auto;
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 110px;
  min-height: 460px;
}
.log-in-center h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.search-box {
  border: 1px solid $search;
  padding: 10px;
}
.search-results {
  border: 1px solid $search;
  margin-bottom: 20px;
}
span.created_at_mess {
  color: $created_at_mess;
}

#btn-unfollow {
  border: 2px solid;
  border-color: #333;
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  font-size: 9px;
  padding: 0.5rem 0.8rem;
}

#btn-unfollow:hover{
  background-color: #ee997b;
  border-color: #ee997b;
  color:#fff;
}

#btn-follow {
  color: #000000;
  background-color: #fff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 30px;
  font-size: 9px;
  padding: 0.5rem 0.8rem;
}

#btn-follow:hover{
  border-color:#ee997b;
  background-color: #ee997b;
  position:relative;
}
.field.sign-up {
  display: block !important;
}
.container.main-content {
  min-height: 510px;
}
.image-information img {
  width: 100%;
  height: 100%;
}
.col-md-6.form-info {
  margin-bottom: 20px;
}
.col-md-6.form-info h1{
  text-align: center;
}
