@import 'bootstrap';
@import 'colors.scss';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
ul.nav.navbar-top-links.navbar-right {
  float: right;
}
.navbar-header {
  float: left;
}
.sidebar ul li {
  height: 30px;
}
ul#side-menu li a {
  padding-left: 20px;
}
.sidebar ul li {
  margin-top: 10px;
}

/*homepage*/
.navbar-header a.navbar-brand{
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.navbar-header a.navbar-brand img {
  width: 32px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.navbar-default.navbar-static-top , .page-footer{
  margin-left: -15px;
  margin-right: -15px;
  height: 70px;
}
a.navbar-brand, ul.navbar-right {
  padding-top: 10px;
}
.block-1 {
  height: 600px;
  background: antiquewhite;
}
.teaser {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 1%;
  color: white;
  font-weight: bold;
}
.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
.btn.btn-brand {
  border: none;
  background-image: linear-gradient(140deg, #ff4d63 0, #4D63FF 100%);
}
.btn.btn-prominent {
  border-radius: 50px !important;
  font-weight: 500;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.25) !important;
}
.btn-prominent.btn-lg.btn-block.btn-brand {
  width: 20%;
  margin: 0px auto;
}
.btn.btn-brand:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.hover-grow:hover, .hover-grow:focus, .hover-grow:active {
  transform: scale(1.1);
}
.block-1 a, .block-1 h1, .block-1 h4 {
  text-shadow: 0 0 5px #333;
  color: #fff !important;
}
.text-shadow-light {
  color: #fff;
}
.block-1{
  background-image: url('https://findmateasia.files.wordpress.com/2017/01/cropped-dating-picnic-couple-on-beach-shutterstock_64974040.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  filter: blur(2px);
}
li.nav-item{
  padding-top: 10px;
}
li.nav-item a {
  color: white;
  font-weight: bold;
}
h4.tagline {
  font-weight: 800;
}
.text-shadow-light {
  font-weight: 200;
}

/*block 2*/
.block-2{
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(to right, #efd2d5, #e85361);
  position: relative;
}
.card.shadow-0 {
  width: 100%;
}
.text-block-2 .dark-back {
  color: #fff;
  text-shadow: 0 0 12px #0000fe;
  font-size: 250%;
}
.text-center.text-block-2 {
  padding-top: 50px;
}

/*block-3*/
.full-height-section {
  background-image: url('https://findmate.app/img/scene/couple-sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.full-height-section .content-section-300.light-text-on-dark-background {
  color: #000;
}
.full-height-section .content-section-300 {
  max-width: 420px;
  margin: 30px;
  background-color: rgba(255,255,255,0.75);
  padding: 30px;
  border-radius: 10px;
}
.full-height-section .content-section-300 .full-description {
  font-size: 21px;
}
